* {
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #7d5fff;

    #image {
        width: 30%;

        img {
            width: 200px;
            animation: example linear 0.1s infinite alternate;
        }
    }

    #form {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px;
        padding: 30px;

        #title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 20px;
            padding: 10px;

            h1 {
                font-size: 4em;
            }

            p {
                font-size: 1.5em;
            }
        }

        form {
            padding: 10px;

            article {
                display: flex;
                justify-content: start;
                align-items: center;
                font-size: 1.5em;
                margin-bottom: 10px;
            }

            .radio {
                p {
                    margin-left: 10px;
                }
            }

            button {
                color: #000;
                margin: 10px;
                padding: 10px;
                border: none;
                border-radius: 5px;
                font-size: 1.5em;

                &:hover {
                    cursor: pointer;
                    border: none;
                    background: white;
                }
            }

            input, select, option {
                color: #000;
                padding: 10px;
                border-radius: 5px;
                font-size: 0.8em;
                margin-left: 10px;
                border: none;
            }
        }
    }
}

@keyframes example {
    from {
        width: 200px;
        transform: rotate(28deg);
    }
    
    to {
        transform: rotate(30deg);
    }
}